include "./modules/hotkeys.kdl"
include "./modules/overview.kdl"
include "./modules/inputs.kdl"
include "./modules/layouts.kdl"
include "./modules/monitors.kdl"
include "./modules/startup.kdl"
include "./modules/rules.kdl"
include "./modules/workspaces.kdl"

