input {
  keyboard {
      xkb {
	  options "caps:none"
      }
      numlock
  }
  touchpad {
      off
  }
  mouse {
      accel-speed -0.5
      accel-profile "flat"
  }
  focus-follows-mouse max-scroll-amount="0%"
}

cursor {
    xcursor-size 24
}
