window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}

window-rule {
  match app-id=r#"^com\.obsproject\.Studio$"#
  
  open-on-workspace "background"
}

window-rule {
  match app-id="mpv"

  open-floating true
}

window-rule {
  match app-id="kitty"
  draw-border-with-background false
}
